* {
    margin: 0;
}

#intro {
    background-image: url(../src/img/fondo-introduccion.jpg);
    height: 40vh;
}

.mask{
    height: 40vh;
}

.card {
    height: 10vh;
}

.card img{
    height: 30vh;
}

p{
    text-align: justify;
}

@media (max-width: 767px) {

    .nosotros img{
        width: 100%;
    }


    iframe{
        height: 250px;
    }


}